body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Top of page. Has logo and links.  */
.header-section-1 {
   background-color: #1f2937;
   color: white;
   display: flex;
   justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    color: #e5e7eb;
}

.header-logo-container {
    margin-left: 200px;
}

.header-links {
    padding-right: 100px;
    font-size: 18px;
}

.header-link-1, .header-link-2, .header-link-3 {
    padding:16px;
    color: #e5e7eb;
}

/* Header section with text, button and image box. */
.header-section-2 {
   background-color: #1f2937;
   color: white;
   display: flex;
   justify-content: space-between;
   height: 400px; 
}

/* Left container with text and button. */
.header-text-button-container {
    width: 500px;
}

.header-section-large-text {
    font-size: 48px;
    margin-left: 200px;
}
.header-section-small-text {
    font-size: 18px;
    margin-left: 200px;
    font-weight: 100;
    color: #e5e7eb;
}

.button-container-1 {
      margin-left: 200px;
}

.header-button {
    background-color: #3882f6;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}

/* Right container for image box. */
.header-box {
    background-color: #8c8d8f;
    height: 150px;
    width: 350px;
    text-align: center;
    margin-right: 116px;
    margin-top: 100px;
}

.header-box-text {
    margin-top: 65px;
}

/* Classes and container for mid section h2 element.*/
.middle-section-header-container {
    height: auto;
    padding-top: 30px;
}

.middle-section-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

/* Container for middle boxes.*/
.middle-blue-box-container {
    justify-content: center;
    display: flex;
    gap: 35px;
}

/* Styles for all 4 middle boxes. */
.box-1, .box-2, .box-3, .box-4 {
    border: 2px solid #3882f6;
    border-radius: 10px;
    padding: 3rem;
}

/* Container and styles for middle box sub text. */
.middle-box-text-container {
    justify-content: center;
    display: flex;
    gap: 67px;
    padding-top: 10px;
    padding-bottom: 80px;
}

/* Container and styles for quote section. */
.quote-container {
    background-color: #e5e7eb;
    color: #1f2937;
    text-align: center;
    padding: 70px;
    font-size: 30px;
    font-style: italic;
    padding-bottom: 70px;
}

.quote-text {
    margin-left: 300px;
    margin-right: 300px;
}

.quote-author {
    text-align: right;
    padding-top: 30px;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    margin-right: 100px;
}

/* Bottom sign up section. */
.bottom-box {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 100px;
}

.sign-up-header {
    padding: 45px 0px 4px 95px;
    font-weight: bold;
    font-size: 22px;
}

.sign-up-body {
    padding: 0px 0px 45px 95px;
    font-size: 16px;
    font-weight: lighter;
}
.sign-up-button {
    border: 2px solid;
    border-radius: 10px;
    border-color: #e5e7eb;
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 26px 10px 26px;
    margin: auto;
}

/* Footer section.*/
.footer-banner {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 16px;
    font-size: 12px;
    font-weight: lighter;
}