body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Top of page. Has logo and links.  */
.header-section-1 {
   background-color: #1f2937;
   color: white;
   display: flex;
   justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
}

.header-logo-container {
    margin-left: 200px;
}

.header-links {
    padding-right: 100px;
    font-size: 18px;
}

.header-link-1 {
    padding:16px;
}

.header-link-1 {
    padding: 16px;
}

.header-link-3 {
    padding: 16px;
}

/* Header section with text, button and image box. */
.header-section-2 {
   background-color: #1f2937;
   color: white;
   display: flex;
   justify-content: space-between;
   height: 400px; 
}

/* Left container with text and button. */
.header-text-button-container {
    width: 500px;
}

.header-section-large-text {
    font-size: 48px;
    margin-left: 200px;
}
.header-section-small-text {
    font-size: 18px;
    margin-left: 200px;
}

.button-container-1 {
      margin-left: 200px;
}

.header-button {
    background-color: #3882f6;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
}

/* Right container for image box. */
.header-box {
    background-color: #8c8d8f;
    height: 150px;
    width: 350px;
    text-align: center;
    margin-right: 116px;
    margin-top: 100px;
}

.header-box-text {
    margin-top: 65px;
}

/* Classes and container for mid section h2 element.*/
.middle-section-header-container {
    height: auto;
}

.middle-section-header {
    text-align: center;
}
